@import "variables";

.block {
  width: 300px;

  position: relative;

  margin-bottom: 65px;
  margin-right: 35px;
  .title {
    position: absolute;
    color: #f3f3f3;
    text-align: right;
    top: 70%;
    right: 5%;
  }
  &:not(:nth-of-type(4n)) {
    margin-right: 35px;
  }

  &__image {
    width: 300px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  .shadow {
    width: 100%;
    height: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      transition: opacity 0.6s;
      border-radius: 15px;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
